body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
  }
  
  .weather-info {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #weather-icon {
    margin: 20px 0;
  }
  
  #weather-icon img {
    width: 100px;
  }
  
  h1 {
    color: #333;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  p {
    margin: 5px 0;
  }
  